a {
    color: white;
  }
  * {
    margin: 0 auto;
    padding: 0 auto;
  }
  .header {
    background-color: transparent;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    background-color: rgb(10, 54, 65);
  }
  .header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid rgb(10, 54, 65);
    text-decoration: none;
  }
  .header ul a:hover {
    color: chartreuse;
  }
  
  .header .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
  }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }
  .header .menu-icon .nav-icon:before {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all 0.2s ease-out;
  }
  .header .menu-icon .nav-icon:after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -5px;
    transition: all 0.2s ease-out;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  .logo {
    position: absolute;
    width: 80px;
    top: 5px;
    left: 5px;
  }
  div.card{
    position: absolute;
    border-radius: 30px;
    top: 200px;
    width: 500px;
    left: 65px;
    height: 650px;
    border: 2px solid green;
    
  }
  div.jacket{
    align-items: center;
    margin-top: 25px;
    width: 300px;
    height: 350px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
  }
  .buy-btn{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 25px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
  }
  
  
  
  footer {
    position: absolute;
    top: 2000px;
    height: 150px;
    color: white;
    background-color: rgb(10, 54, 65);
    width: 100%;
    text-align: center;
    padding-top: 5px;
  }
  @media screen and (min-width: 769px) and (max-width: 1023px) {
    .card {
      position: absolute;
      width: 100%;
      top: 300px;
      background-color: lightgray;
      height: 400px;
      border-radius: 5px;
    }
    
    
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
    .card {
      position: absolute;
      width: 100%;
      top: 300px;
      background-color: lightgray;
      height: 400px;
      border-radius: 5px;
    }
    
    
  }
  