a {
    color: white;
  }
  * {
    margin: 0 auto;
    padding: 0 auto;
  }
  
  .header {
    background-color: transparent;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    background-color: rgb(10, 54, 65);
  }
  .header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid rgb(10, 54, 65);
    text-decoration: none;
  }
  .header ul a:hover {
    color: chartreuse;
  }
  
  .header .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
  }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }
  .header .menu-icon .nav-icon:before {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all 0.2s ease-out;
  }
  .header .menu-icon .nav-icon:after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -5px;
    transition: all 0.2s ease-out;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  
  .logo {
    position: absolute;
    width: 80px;
    top: 5px;
    left: 5px;
  }
  div.contactus {
    
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  input.email {
    
    align-items: center;
    justify-content: center;
  }
  input.message {
    display: flex;
    flex-direction: column;
  
    align-content: center;
    top: 400px;
    left: 400px;
    height: 300px;
    width: 300px;
  }
  button.sendbtn {
    position: absolute;
    top: 730px;
    left: 530px;
    width: 60px;
    color: white;
    background-color: rgb(10, 54, 65);
  }
  div.aboutus {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  div.aboutcard {
    align-items: center;
    justify-content: center;
    
    width: 400px;
    height: 600px;
    background-color: lightgray;
   
  }
  div.aboutinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .policy {
    position: absolute;
    top: 1000px;
    left: 1px;
    font-size: 18px;
    font-weight: bold;
  }
  div.policyinfo {
   text-align: center;
  }
  .footer {
    position: absolute;
    top: 2000px;
    width: 100%;
    height: 150px;
    left: 0px;
  
    background-color: rgb(10, 54, 65);
    color: white;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
      position: absolute;
      width: 90px;
      top: 0.1px;
    }
    .contactus {
      position: absolute;
      top: 450px;
      padding-left: 20px;
      font-size: 18px;
      font-weight: bold;
    }
    .email {
      position: absolute;
      top: 320px;
      left: 150px;
    }
    .message {
      position: absolute;
      align-content: center;
      top: 400px;
      left: 150px;
      height: 300px;
      width: 300px;
    }
    .sendbtn {
      position: absolute;
      top: 730px;
      left: 150px;
      width: 60px;
      color: white;
      background-color: rgb(10, 54, 65);
    }
    .aboutus {
      position: absolute;
      top: 870px;
      padding-left: 50px;
      font-size: 18px;
      font-weight: bold;
    }
    .aboutcard {
      position: absolute;
      width: 400px;
      height: 600px;
      background-color: lightgray;
      top: 900px;
      left: 25px;
    }
    .aboutinfo {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
    .policy {
      position: absolute;
      top: 1000px;
      left: 1px;
      font-size: 18px;
      font-weight: bold;
    }
    .policyinfo {
      position: absolute;
      top: 1100px;
    }
    .footer {
      width: 100%;
      height: 300px;
      color: white;
      background-color: rgb(10, 54, 65);
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1023px) {
    .logo {
      position: absolute;
      width: 90px;
      top: 0.1px;
    }
    .contactus {
      position: absolute;
      top: 450px;
      padding-left: 20px;
      font-size: 18px;
      font-weight: bold;
    }
    .email {
      position: absolute;
      top: 320px;
      left: 150px;
    }
    .message {
      position: absolute;
      align-content: center;
      top: 400px;
      left: 150px;
      height: 300px;
      width: 300px;
    }
    .sendbtn {
      position: absolute;
      top: 730px;
      left: 150px;
      width: 60px;
      color: white;
      background-color: rgb(10, 54, 65);
    }
    .aboutus {
      position: absolute;
      top: 870px;
      padding-left: 50px;
      font-size: 18px;
      font-weight: bold;
    }
    .aboutcard {
      position: absolute;
      width: 400px;
      height: 600px;
      background-color: lightgray;
      top: 900px;
      left: 25px;
    }
    .aboutinfo {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
    .policy {
      position: absolute;
      top: 1000px;
      left: 1px;
      font-size: 18px;
      font-weight: bold;
    }
    .policyinfo {
      position: absolute;
      top: 1100px;
    }
    .footer {
      width: 100%;
      height: 300px;
      color: white;
      background-color: rgb(10, 54, 65);
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 3500px) {
    .footer{
      width: 100%;
    }
    
  }
  