a {
    color: black;
  }
  * {
    margin: 0 auto;
    padding: 0 auto;
  }
  li:hover{
    color: green;
    cursor: pointer;
  }
  
  .name-jckt{
    color: black;
    
  }
  .list-details{
    display: flex;
    padding: 25px;
    text-align: center;
    
  }
  .rainydays-logo {
    position: absolute;
    width: 80px;
    top: 0px;
    left: 5px;
  }
  .header {
    background-color: transparent;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    background-color: rgb(10, 54, 65);
  }
  .header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid rgb(10, 54, 65);
    text-decoration: none;
  }
  .header ul a:hover {
    color: chartreuse;
  }
  .header .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
  }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }
  .header .menu-icon .nav-icon:before {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all 0.2s ease-out;
  }
  .header .menu-icon .nav-icon:after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -5px;
    transition: all 0.2s ease-out;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  .guy {
    width: 100%;
    position: absolute;
    padding-top: 0px;
  }
  .member {
    font-size: 15px;
    text-align: center;
  }
  .wraper-member{
    display: flex;
    flex-direction: column;
    margin-top: 515px;
    background-color: rgb(10, 54, 65);
    height: 120px;
  }
  h1{
    padding-top: 150px;
    text-align: center;
    color: red;
    font-variant-caps: all-petite-caps;
  }
  h3.member {
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
  }
  li.list-details{
    color: red;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 25px;
  }
  
  input.email{
    width: 250px;
    height: 25px;
    border-radius: 50px;
    margin-bottom: 5px;
  }
  input.password{
    width: 250px;
    height: 25px;
    border-radius: 50px;

  }
  input.done{
    width: 100px;
    margin-top: 5px;
    height: 22px;
    border: 2px solid lime;
    border-radius: 50px;
    background-color: transparent;
    color: white;
  }
  
  div.container{
    display: list-item;
    margin-top: 100px;
    list-style: none;
    
    font-size: 20px;
  }
  img{
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    position: absolute;
    width: 100%;
    background-color: rgb(10, 54, 65);
    height: 150px;
    top: 3500px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    h3.member {
      font-weight: bold;
      text-align: center;
      font-size: 25px;
      margin-bottom: 5px;
    }
    
    input.email{
      width: 250px;
      height: 25px;
      border-radius: 50px;
      margin-bottom: 5px;
    }
    input.password{
      width: 250px;
      height: 25px;
      border-radius: 50px;

    }
    input.done{
      width: 100px;
      margin-top: 5px;
      height: 22px;
      border: 2px solid green;
      border-radius: 50px;
      background-color: transparent;
    }
    .wraper-member{
      padding-top: 20px;
    }
    .footer {
      position: absolute;
      width: 100%;
      background-color: rgb(10, 54, 65);
      height: 150px;
      top: 3500px;
      color: white;
      font-size: 18px;
      text-align: center;
      padding-top: 5px;
    }

  }
  @media screen and (min-width: 769px) and (max-width: 1023px) {
    
    
    .guy {
      position: absolute;
      top: 50px;
    }
    h3.member {
      font-weight: bold;
      text-align: center;
      font-size: 25px;
      margin-bottom: 5px;
    }
    
    input.email{
      width: 250px;
      height: 25px;
      border-radius: 50px;
      margin-bottom: 5px;
    }
    input.password{
      width: 250px;
      height: 25px;
      border-radius: 50px;

    }
    input.done{
      width: 100px;
      margin-top: 5px;
      height: 22px;
      border: 2px solid green;
      border-radius: 50px;
      background-color: transparent;
    }
    div.wraper-member{
      height: 150px;
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: black;
      
    }
    h3.member{
      padding-top: 50px;
    }
    div.container{
      display: flex;
      flex-direction: column;
      margin-top: 500px;
    }
    .footer {
      position: absolute;
      width: 100%;
      background-color: rgb(10, 54, 65);
      height: 100px;
      top: 5000px;
      text-align: center;
      padding-top: 5px;
    }
    .footer ul{
      color: red;
      text-decoration: none;
      list-style-type: none;
    }
    .footer ul:hover{
      color: lime;
    }
    
    
  }
  @media screen and (min-width: 1024px) and (max-width: 3500px) {
    
    .guy{
      display: none;
    }
    div.wraper-member{
      height: 150px;
      margin-top: 150px;
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: black;
      
    }

   
  }
  